  

<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Rounds Game Details For All Users Sessions</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Total rounds played</th>
            <th>Total Wins for first players</th>
            <th>Total Wins for second players</th>
            <th>Total draws</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{round?.totalRoundsPlayed}}</td>
            <td>{{round?.Player_1}}</td>
            <td>{{round?.Player_2}}</td>
            <td>{{round?.Draw}}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
  
  
